<head>
    <title>What is Progressive Dining?</title>
</head>
<body>
    <h1>What is Progressive Dining?</h1>
    <p> Pregressive Dining is an experience that a group of at least two coordinate a Dinner where every participant hosts their own Course of the Dinner! If you enjoy the experiences you have with your friends and love to show off your cooking, you can create an account @Html.ActionLink("Here", "Create", "Users"). Here is an illustration of what an American Progressive Dinner might be like:</p>
    <a href="http://s1303.photobucket.com/user/matthew_cramer2/media/prodinepic_zps8aslbcit.png.html" target="_blank"><img src="http://i1303.photobucket.com/albums/ag148/matthew_cramer2/prodinepic_zps8aslbcit.png" border="0" alt=" photo prodinepic_zps8aslbcit.png" /></a>

    <h1>What is a Progressive Dinner?</h1>
    <p> Progressive Dinner has as many Courses as guests. Every Course is hosted at another guest's choosing. Depending on the Dinner's theme, each guest prepares their course for the other guests. Say a Dinner has 5 participants and has an American style theme. Then the participants would go to member 1's house or place for an appetizer</p>

    <h1>How do I find people to join my Dinner?</h1>
    <p>We have multiple ways of providing interactive exerpiences with other chefs. We have a chat room where random people can talk to each other, with a username, and talk about joining Dinners, creating Dinners, or even talking about Progressive Dining experiences. If you would like to use one of these services, here are our services:</p>
    <ul style="list-style-type:square">
        <li>Chat room</li>
        <li>Forum</li>
        <li>Private Message</li>
    </ul>
    <h1>How do I contact </h1>
</body>
